:root {
  --background-color: #87b5b5;
  --header-color: #4aa3a3;
  --card-color: #c0d8d8;
  --editor-height: 35vh;
  --previewer-height: 100vh
}

* {
  margin: 0;
  box-sizing: border-box;
}

button {
  border: 0;
  background-color: rgb(0, 0, 0, 0);
}

button:hover {
  color: aquamarine;
  cursor: pointer;
}

.App {
  text-align: center;
  height: 100%;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;  
  align-items: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.editor {
  margin-top: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
  width: 45vw;
}

.previewer {
  margin: 20px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
  width: 60vw;
  height: 100vh;
  min-height: 1000px;
  background-color: var(--card-color);
}

.expandable-container {
  height: 100%;
  color: black;  
  border: 1px solid black;
}

.expandable-container-header {
  background-color: var(--header-color);
  height: 40px;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid black;
}

.expandable-container-header-title {
  display: flex;
  align-items: center;
}

.editor-input {
  background-color: var(--card-color);
  border: 0;
  height: calc(var(--editor-height) - 40px);
  width: 100%;
  line-height: 15px;
  outline: none;
  border-bottom: 1px solid black;
  border-top: 0.25px solid black;
  margin-bottom: -5px;
  resize: vertical;
  overflow: auto;
  z-index: -1;
}

.previewer-output {
  text-align: left;
  padding: 10px;;
}