:root {
  --background-color: #87b5b5;
  --header-color: #4aa3a3;
  --card-color: #c0d8d8;
  --editor-margin-top: 20px;
  --editor-height: 35vh;
  --editor-max-height: infinite;
  --previewer-height: 30vh;
  --previewer-max-height: infinite;
  --previewer-margin-bottom: 20px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

button {
  border: 0;
  background-color: rgb(0, 0, 0, 0);
}

button:hover {
  color: aquamarine;
  cursor: pointer;
}

.App {
  text-align: center;
  height: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;  
  align-items: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.editor {
  margin-top: var(--editor-margin-top);
  max-height: var(--editor-max-height);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
  width: 45vw;  
  overflow: auto;
}

.previewer {
  margin: 20px 0 var(--previewer-margin-bottom) 0;
  max-height: var(--previewer-max-height);
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
  width: 60vw;
  min-height: var(--previewer-height);
  background-color: var(--card-color);
}

.expandable-container {
  height: 100%;
  color: black;  
  border: 1px solid black;
}

.expandable-container-header {
  background-color: var(--header-color);
  height: 40px;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid black;
}

.expandable-container-header-title {
  display: flex;
  align-items: center;
}

.editor-input {
  background-color: var(--card-color);
  border: 0;
  height: calc(var(--editor-height) - 40px);
  width: 100%;
  line-height: 15px;
  outline: none;
  border-bottom: 1px solid black;
  border-top: 0.25px solid black;
  margin-bottom: -5px;
  resize: vertical;
  z-index: -1;
  padding: 5px;
}

.previewer-output {
  text-align: left;
  padding: 10px;
  min-height: var(--previewer-height);
}

.previewer-output * {
  margin-bottom: 20px;
}

.previewer-output li {
  margin-bottom: 0px;
}

.previewer-output code {
  background-color: white;
  font-weight: bold;
  font-size: 12px;
}

.previewer-output pre {
  background-color: white;  
  padding: 5px;
}

.previewer-output h1 {
  border-bottom: 2px solid black;
}

.previewer-output h2 {
  border-bottom: 1px solid black;
}

.previewer-output blockquote {
  margin-left: 20px;
  border-left: 3px solid black;
  padding-left: 5px;
}

.previewer-output table {
  border-spacing: 0;
  border-collapse: collapse;
  
}

.previewer-output table *{
  border: 1.5px solid black;
  padding: 2px 5px;
}

.previewer-output img {
  width: 100%;
  padding: 0 50px;
  margin: 0;
}
